<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laba.solvd.database.DAO.GymMapper">

    <insert id="create">
        INSERT INTO gym(Location, gymAge, price)
        VALUES(#{location}, #{gymAge}, #{price})
    </insert>

    <select id="selectAll" resultType="com.laba.solvd.database.Model.Gym">
        SELECT * FROM gym
    </select>

    <select id="selectById" parameterType="int" resultType="com.laba.solvd.database.Model.Gym">
        SELECT * FROM gym WHERE id = #{id}
    </select>

    <delete id="delete">
        DELETE FROM gym WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE gym SET Location = #{location}, gymAge = #{gymAge}, price = #{price}
        WHERE id = #{id}
    </update>

</mapper>
